@import 'src/variables.scss';

.main {
    display: flex;
    width: 100vw;
    text-align: center;
    justify-content: center;
    

    &-info {
        width: 100%;
        background-color: $alice-blue;
        display: flex;
        height: 300px;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.about-us {
    display: flex;
    flex-direction: column;

    .logo {
        height: 4rem;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;

    &__title {
        font-size: 3rem;
    }

    &__description {

    }
}

.action-buttons .btn {
    margin: 10px;
}