<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav>
        <div class="brand">
            <a href=""><img src="static/img/logo_inverted_colors.png" alt="brand logo" id="logo"> candy!</a>
        </div>
        <div class="menu">
            <a href="">Tournaments</a>
            <a href="">Leaderboards</a>
            <a href=""><i class="fa fa-user"></i> blinchk</a>
        </div>
    </nav>
    <header>
        <div class="container">
            <div class="about-us">
                <div class="brand">
                    <img src="static/img/logo.png" alt="brand logo" id="logo"> candy!
                </div>
                <div class="description">
                    is revolutionary <a href="https://osu.ppy.sh">osu!</a> tournament platform.
                </div>
                
            </div>
            <div class="action-buttons">
                <a href="" class="btn">Sign Up</a>
                <a href="" class="btn">How to Start?</a>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
        </div>
    </main>
    <footer>
        <div class="container">
            <span>&#0169; candy!dev team, 2021</span>
            <a href="https://github.com/blinchk/candy" class="source-code"><i class="fab fa-github"></i> source code</a>
            <a href="">profile</a>
            <a href="">about us</a>
        </div>
    </footer>
</body>
</html>