@import 'src/variables.scss';

.nav {
    display: flex;
    background-color: $spanish-blue;
    justify-content: space-between;
    align-items: center;
    &__item {
        margin: 0 10px;
        color: white;
    }
}

@media only screen and (max-width: 700px) {
    .menu {
        padding: 5px;
        flex-direction: column;
        .brand {
            font-weight: bold;
        }

        .brand, .menu {
            flex-direction: column;
        }

        a {
            margin: 5px 0;
            text-align: center;
        }
    }
}