@import "./variables.scss";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root, .app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $default-font;
}

.logo {
    height: 5rem;
    vertical-align: middle;
}

.main {
    flex: 1 0 auto;
}

a {
    text-decoration: none;
    color: $oxford-blue;
    transition: all .25s ease-in-out;

    &:hover {
        color: darken($oxford-blue, 10%);
    }
}

.btn {
    margin: auto;
    padding: 8px 15px;
    background-color: $spanish-blue;
    color: white;
    border-radius: 5px;
    border: 0;
    font-family: $default-font;
    &:hover {
        color: $spanish-blue;
        background-color: $alice-blue;
        transition: 0.3s;
    }
}